.container {
    margin: 50px auto;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btncontainer {
    width: 150px;
}