@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gaegu:wght@300&family=Jua&display=swap');

.visit {
    font-family: 'Gaegu', cursive;
}

.profile-text {
    font-family: 'Gaegu', cursive;
}

.top-text-box {
    font-family: 'Gaegu', cursive;
}

.line {
    font-family: 'Gaegu', cursive;
}


#bold-text {
    color: #71bfd6;
    font-family: 'Jua', sans-serif;
}


