.main-content {
    background-color: white;
    flex: 0.95;
    /*Update news와 Miniroom 세로 정렬*/
    display: flex;
    flex-direction: column;
    border-radius: 1%;
}

.upper-content {
    flex: 1;
    margin: 10px 20px;
}

.update-box {
    display: flex
}

.new-text {
    flex: 1;
}

#photo {
    background-color: rgb(255, 70, 70);
    color: white;
    border-radius: 10%;
}

#board {
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 10%;
}

.new-image-container {
    /*new-text와 1:1 비율 유지*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.new-image {
    width: 100px;
    height: 80px;
    border: 1px solid black;
    margin: 0px 2px;
    padding: 2px;
}

.plus-image {
    width: 30px;
    height: 30px;
}

.bottom-content {
    flex: 4;
    margin: 10px 20px;
}